<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.world.auth.mapper.SysUserMapper">

    <resultMap id="users" type="SysUser">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="username" property="username" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARCHAR"></result>
        <collection property="roles" ofType="SysRole" javaType="java.util.ArrayList">
            <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
            <collection property="sysPermissions" ofType="SysPermission" javaType="java.util.ArrayList">
                <result column="pm_name" property="pmName" jdbcType="VARCHAR"></result>
                <result column="description" property="description" jdbcType="VARCHAR"></result>
                <result column="pid" property="pid" jdbcType="INTEGER"></result>
                <result column="url" property="url" jdbcType="VARCHAR"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="findByUsername" resultMap="users">
        select *,sr.id srid from sys_user su
        left join sys_role_user sru
        on (su.id=sru.sys_user_id)
        left join sys_role sr
        on (sru.sys_role_id=sr.id)
        left join sys_permission_role spr
        on sr.id=spr.sys_role_id
        left join sys_permission sp
        on spr.sys_permission_id=sp.id
        where su.username=#{username}
    </select>

</mapper>
